@model IEnumerable<pelis.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="Productos" asp-action="Index" method="get">
    <p>
        <label>Nombre Producto: <input type="text" name="SearchString" /></label>
        <input type="submit" class="btn btn-success" value="Buscar" />
    </p>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripción)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.CategoriaProductos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripción)
            </td>
           
            
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaProductos.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a href="../Reporte/Print" id="btnPrint" class="btn btn-success" target="_blank">Reporte</a>




